.p-gradation {
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(45deg, #00fcbb, #ee03f4, #def403, #0337f4, #f40303, #f46003);
    animation: move_gradation 30s ease infinite;
    background-size: 1200% 1200%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(157,237,244,1) 0%, rgba(157,237,244,0) 70%),
      linear-gradient(135deg, rgba(235,170,236,1) 10%, rgba(235,170,236,0) 80%),
      linear-gradient(225deg, rgba(170,236,170,1) 10%, rgba(170,236,170,0) 80%),
      linear-gradient(315deg, rgba(244,234,122,1) 100%, rgba(244,234,122,0) 70%);
    z-index: -1;
  }
  
  
      @keyframes watch {
          0% {transform: translate(0);}
          20% {transform: translate(-2px, 2px);}
          40% {transform: translate(-2px, -2px);}
          60% {transform: translate(2px, 2px);}
          80% {transform: translate(2px, -2px);}
          100% {transform: translate(0);}
      }
  
      .time {
          width: 250px;
          height: 250px;
          margin: auto;
          margin-top: 10%;
          background: url('time.png') center center / 100% no-repeat;
          animation: watch 0.3s linear infinite both;
      }
      .time:hover {
          animation-play-state: paused;
      }
  
      .b-green, .b-green:before {
          background: rgba(73,155,234,1);
          background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
          background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(26,188,156,1)));
          background: -webkit-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
          background: -o-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
          background: -ms-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
          background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
      }
      .button2 {
          font-family: 'Jua', sans-serif;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          font-size: 18px;
          display: inline-block;
          padding: 10px 15px;
          border-radius: 5px;
          transition: all .5s;
          filter: hue-rotate(0deg);
          color: #FFF;
          text-decoration: none;
      }
      .rot-135:hover {
          filter: hue-rotate(135deg);
      }
      .button{
          width: 200px;
          height: 50px;
          margin: 0 auto;
          text-align:center;
      }
      .button a {
        font-size: 30px;
      }

    #alarmMemo span {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width:100%;
        display: block;
    }

    #alarmMemo {
        font-family: 'Jua', sans-serif;
        color: #000;
        width: 300px;
        height: 100px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 25px;
    }