.content__li {
  padding: 8px 0px;
  padding-right: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__hidden {
  filter: blur(1px);
  opacity: 0.2;
}

.content__li:not(:last-child) {
  border-bottom: 1px solid var(--main-text-color);
}

.content__container {
  margin-bottom: 20px;
  height: 80vh;
  width: 85vw;
  font-size: 2em;
  overflow: auto;
}

.content__content {
  display: flex;
  flex-direction: column;
}
.content__content > .content__more {
  font-size: 0.8em;
  padding-left: 5px;
}

.schedule {
  width: calc(85vw - 80px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fa-pencil-alt {
  margin-right: 5px;
}

.datetime {
  font-size: 0.7em;
}

.patten {
  font-size: 0.7em;
}
