.content__container,
.content__ul {
  min-width: 100vw;
}
.content__ul {
  padding: 10px 0px;
}

.content__li {
  margin: auto;
  max-width: 85vw;
  padding: 10px 10px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px 0px var(--third-bg-color);
  background-color: var(--third-bg-color);
  border-radius: 10px;
}

.content__hidden {
  filter: blur(1px);
  opacity: 0.1;
}

.content__container {
  height: 80vh;
  font-size: 2em;
  overflow: auto;
}

.content__content {
  display: flex;
  flex-direction: column;
}

.content__icons {
  min-width: 60px;
}
.content__icons > i {
  font-family: FontAwesome;
  color: var(--second-text-color);
}

.schedule {
  width: calc(85vw - 80px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fa-pencil-alt {
  margin-right: 5px;
}

.datetime,
.patten,
.content__more,
.patten > i {
  font-family: FontAwesome;
  color: var(--second-text-color);
  font-size: 0.7em;
  font-weight: 400;
}
