.content__li {
  padding: 10px 0px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__container {
  height: calc(100vh - 250px);
  width: 85vw;
  font-size: 2em;
  overflow: auto;
}

.content__content {
  display: flex;
  flex-direction: column;
}
.content__content > button {
  font-size: 0.7em;
}

.schedule {
  width: calc(85vw - 80px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fa-pencil-alt {
  margin-right: 5px;
}

.datetime {
  font-size: 0.7em;
}
