:root {
  --main-bg-color: ;
  --main-bg2-color: ;
  --second-bg-color: ;
  --third-bg-color: ;
  --main-text-color: ;
  --second-text-color: ;
  --third-text-color: ;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  font-weight: 300;
}

button {
  all: unset;
  /* border: 1px solid var(--main-text-color); */
  border-radius: 20px;
  padding: 5px 0px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--main-bg-color);
}

i,
button,
select {
  cursor: pointer;
}

input::placeholder {
  color: var(--second-text-color);
  font-size: 0.7em;
}

.success {
  position: absolute;
  top: 45vh;
  padding: 25px 25px;
  background-color: var(--third-bg-color);
  color: var(--main-text-color);
  border-radius: 20px;
  font-size: 2em;
  font-weight: 300;
  z-index: 2;
  transition: 0.5s linear;
}

.success__hidden {
  display: none;
}

.clock__container {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-bottom: 1.5px solid var(--main-text-color);
  min-width: 85vw;
  max-width: 85vw;
  z-index: 2;
}

.clock__container > .clock__ampm {
  margin-left: 20px;
  padding: 10px 10px;
  font-size: 5em;
  font-weight: 300;
}
.clock__container > .clock__time {
  margin-right: 20px;
  padding: 10px 10px;
  font-size: 5em;
  font-weight: 400;
}

.icon__container {
  position: sticky;
  bottom: 0px;
  font-family: FontAwesome;
  font-size: 0.8em;
  min-width: 100vw;

  min-height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--second-bg-color);
}

.icon__container > button {
  all: unset;
  font-size: 2.5em;
  transition: all 0.2s linear;
}

.icon__container > button:hover {
  transform: scale(1.2);
}

.hidden {
  display: none;
}

/*배경 슬라이드*/
.bg {
  animation: slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--main-bg-color) 50%,
    var(--main-bg2-color) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 20s;
}

.bg3 {
  animation-duration: 30s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
