:root {
  --main-bg-color: #606060;
  --main-text-color: #f5f5f5;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.ampm {
  margin-left: 20px;
  padding: 10px 10px;
  font-size: 4em;
}
.clock {
  margin-right: 20px;
  padding: 10px 10px;
  font-size: 5em;
}

.content {
  height: calc(100vh - 250px);
  width: 90vw;
  font-size: 2em;
  overflow: auto;
}

.content > ul {
  padding-right: 10px;
}

.content > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  position: relative;
}
.content > ul > li > span {
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content > ul > li > i {
  position: absolute;
  background-color: var(--main-bg-color);
  right: 3px;
}

.button {
  margin-bottom: 20px;
}
.add {
  all: unset;
  border: 2px solid var(--main-text-color);
  padding: 10px 10px;
  border-radius: 40px;
  font-size: 2em;
}

.hidden {
  display: none;
}
