.option__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--third-bg-color);

  border-radius: 10px;
  min-height: 50vh;
  min-width: 83vw;
  max-width: 83vw;
  overflow: auto;
  padding: 40px 0px;
  margin-top: 10px;
}
.option__audio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 70vw;
}

.audio__container,
.volume__container,
.option__theme {
  position: relative;
  padding: 15px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* border: 1px solid var(--main-text-color); */
  border-radius: 20px;
}

.option__audio > select {
  flex: 2;
}
.audio__controll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio__controll > .audio__play {
  margin-right: 10px;
}

.option__audio > .audio__controll,
.option__audio > span {
  flex: 1;
}

#audio__select {
  border: none;
  padding: 5px 3px;
  margin-right: 10px;
  font-size: 1.5em;
  border-bottom: 1px solid var(--main-text-color);
  background-color: var(--third-bg-color);
}

.audio__play {
  font-size: 2.5em;
}
.audio__pause {
  font-size: 1.5em;
}

.volume__value {
  font-size: 1.5em;
  padding: 5px 5px;
  border-bottom: 1px solid var(--main-text-color);
}

.volume__icons {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.option__theme {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 70vw;
}
.option__theme > input {
  display: none;
}

.option__theme > label {
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2.5px solid #bebebe;
}
.theme__black {
  background-color: black;
}
.theme__white {
  background-color: white;
}
.theme__green {
  background-color: #439394;
}
.theme__purple {
  background-color: #b7abe0;
}
.theme__multi {
  background: linear-gradient(
    to right,
    #f26d5b 33%,
    #f6ea8c 33% 66%,
    #47b8e0 66% 99%
  );
}
.option__theme > input:checked + label::before {
  pointer-events: none;
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 2.5em;
}

.option__button {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
  max-width: 80vw;
  font-weight: 550;
}
.option__submit {
  margin-right: 10px;
  background-color: var(--main-text-color);
  color: var(--third-bg-color);
}
.option__exit {
  margin-left: 10px;
  border: 1.5px solid var(--main-text-color);
}
