form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: var(--third-bg-color);
  box-shadow: 0px 1px 5px 0px var(--third-bg-color);
  border-radius: 10px;
  min-height: 70vh;
  min-width: 90vw;
}

.form__blur {
  filter: blur(1px);
  opacity: 0.3;
}

.schedule__container,
.schedule__datetime,
.schedule__repeat {
  position: relative;
  padding: 15px 15px;
  margin-bottom: 40px;
  min-width: 80vw;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--main-text-color); */
}

.schedule__container {
  padding-bottom: 50px;
}

.schedule__repeat {
  flex-direction: row;
}

.schedule__container > .schedule_span,
.schedule__datetime > .datetime__span,
.schedule__repeat > .repeat__span {
  position: absolute;
  display: block;
  font-size: 18px;
  top: -15px;
  z-index: 1;
}

.schedule__input,
.schedule__datetime > input,
.repeat__input {
  all: unset;
  padding: 4px 0px;
  /* border-bottom: 1px solid var(--main-text-color); */
  font-size: 23px;
  width: 100%;

  box-shadow: inset 0px 2px 5px 0px var(--main-bg-color);
}

.schedule__date::before,
.schedule__time::before {
  pointer-events: none;
  font-family: FontAwesome;
  position: absolute;
  font-size: 25px;
  right: 20px;
  background-color: var(--third-bg-color);
}
.schedule__date::before {
  content: "\f784";
  top: 22px;
}

.schedule__time::before {
  content: "\f017";
  top: 67px;
}

.repeat__input {
  width: calc(80vw - 130px);
}
.schedule__datetime > input {
  align-items: flex-end;
  text-align: center;
}

.schedule__container > .schedule__add {
  position: absolute;
  padding: 3px 0px;
  bottom: 10px;
  min-height: 20px;
  width: calc(80vw - 34px);
  text-align: center;
  font-size: 16px;
}

.repeat__input {
  flex: 1;
}

#repeat__select {
  background-color: var(--third-bg-color);
  border: none;
  padding: 5px 3px;
  font-size: 18px;
  border-bottom: 1px solid var(--main-text-color);
}

.schedule__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
  max-width: 80vw;
}
.schedule__submit {
  margin-right: 10px;
}
.schedule__exit {
  margin-left: 10px;
}
