form {
  height: 90vh;
  overflow: auto;
}
.schedule__form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--third-bg-color);
  border-radius: 10px;
  min-height: 70vh;
  min-width: 85vw;
  max-width: 85vw;
  overflow: auto;
  padding: 40px 0px;
  margin-top: 10px;
}

.form__blur {
  filter: blur(1px);
  opacity: 0.3;
}

.schedule__container {
  position: relative;
}

.schedule__container,
.schedule__datetime,
.schedule__repeat {
  margin-bottom: 65px;
  min-width: 70vw;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid var(--main-text-color); */
}

.schedule__container {
  padding-bottom: 50px;
}

.schedule__repeat {
  flex-direction: row;
}

.schedule__input,
.schedule__date,
.schedule__time,
.repeat__input {
  all: unset;
  padding: 4px 0px;
  border-bottom: 1px solid var(--main-text-color);
  font-size: 23px;
  width: 100%;
}

.date,
.time {
  min-width: 70vw;
  max-width: 70vw;
  position: relative;
}

.schedule__date,
.schedule__time {
  text-align: center;
  width: 70vw;
}
.date > i,
.time > i {
  pointer-events: none;
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  top: 6px;
  padding: 2px 2px;
  background-color: var(--third-bg-color);
  font-size: 2.2em;
}

.repeat__input {
  width: calc(80vw - 130px);
}

.schedule__container > .schedule__add {
  font-family: FontAwesome;
  position: absolute;
  padding: 3px 0px;
  bottom: 0px;
  min-height: 20px;
  width: calc(80vw - 34px);
  text-align: center;
  font-size: 2em;
}

.repeat__input {
  flex: 1;
}

#repeat__select {
  height: 40px;
  background-color: var(--third-bg-color);
  border: none;
  padding: 5px 3px;
  font-size: 18px;
  border-bottom: 1px solid var(--main-text-color);
}

.schedule__button {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
  max-width: 80vw;
}

.schedule__submit {
  margin-right: 10px;
  background-color: var(--main-text-color);
  color: var(--third-bg-color);
}
.schedule__exit {
  margin-left: 10px;
  border: 1.5px solid var(--main-text-color);
}

.repeat__days {
  min-width: 70vw;
  max-width: 70vw;
  margin-bottom: 25px;
  -webkit-user-select: none;
}

.repeat__days > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
}
.repeat__days > ul > li {
  list-style: none;
  width: 100%;
  height: 100%;
  max-width: 40px;
}
/* .repeat__days > ul > li:not(:last-child) {
  margin-right: 15px;
} */
.repeat__days > ul > li > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.repeat__days > ul > li > div > label {
  position: absolute;
  text-align: center;
  cursor: pointer;
  font-weight: 650;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 1.7em;
  color: var(--main-text-color);
  background-color: var(--third-bg-color);
}

.repeat__days > ul > li:nth-child(1) > div > label {
  background-color: var(--third-bg-color);
  color: var(--sunday-text-color);
}

.repeat__days > ul > li:nth-child(7) > div > label {
  background-color: var(--third-bg-color);
  color: var(--saturday-text-color);
}

.repeat__days label::before {
  font-weight: 650;
  color: var(--third-bg-color);
  background-color: var(--main-text-color);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  border-bottom: 3px solid var(--main-text-color);
  transition: all 0.5s;
}

.repeat__days > ul > li:nth-child(1) > div > label::before {
  color: var(--days-text-color);
  background-color: var(--sunday-text-color);
  border-bottom: 3px solid var(--sunday-text-color);
  content: "일";
}

.repeat__days > ul > li:nth-child(2) > div > label::before {
  content: "월";
}

.repeat__days > ul > li:nth-child(3) > div > label::before {
  content: "화";
}
.repeat__days > ul > li:nth-child(4) > div > label::before {
  content: "수";
}
.repeat__days > ul > li:nth-child(5) > div > label::before {
  content: "목";
}
.repeat__days > ul > li:nth-child(6) > div > label::before {
  content: "금";
}

.repeat__days > ul > li:nth-child(7) > div > label::before {
  color: var(--days-text-color);
  background-color: var(--saturday-text-color);
  border-bottom: 3px solid var(--saturday-text-color);
  content: "토";
}

.repeat__days > ul > li > div > input:checked + label::before {
  height: 100%;
  border-bottom: none;
}

.hidden__input {
  opacity: 0.1;
}
.readOnly {
  pointer-events: none;
}
