form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.form__blur {
  filter: blur(1px);
  opacity: 0.3;
}

.schedule__container,
.schedule__datetime,
.schedule__repeat {
  position: relative;
  padding: 15px 15px;
  margin-bottom: 20px;
  min-width: 80vw;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-text-color);
  border-radius: 20px;
}

.schedule__container {
  padding-bottom: 50px;
}

.schedule__container > .schedule_span,
.schedule__datetime > .datetime__span,
.schedule__repeat > .repeat__span {
  position: absolute;
  display: block;
  font-size: 18px;
  top: -15px;
  z-index: 1;
}

.schedule__input,
.schedule__datetime > input,
.repeat__input {
  all: unset;
  padding: 4px 0px;
  border-bottom: 1px solid var(--main-text-color);
  font-size: 23px;
  width: 100%;
}

.repeat__input {
  width: calc(80vw - 130px);
}
.schedule__datetime > input {
  align-items: flex-end;
  text-align: center;
}

.schedule__container > .schedule__add {
  position: absolute;
  padding: 3px 0px;
  bottom: 10px;
  min-height: 20px;
  width: calc(80vw - 34px);
  text-align: center;
  font-size: 16px;
}

.repeat__input {
  flex: 1;
}

#repeat__select {
  position: absolute;
  bottom: 15px;
  right: 15px;
  border: none;
  padding: 5px 3px;
  font-size: 18px;
  border-bottom: 1px solid var(--main-text-color);
}

.schedule__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
  max-width: 80vw;
}
.schedule__submit {
  margin-right: 10px;
}
.schedule__exit {
  margin-left: 10px;
}
